<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/business.css" />

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
</head>

<body>

<header>
  <img th:src="${business.getLogoUrl()}"/>
  <h1 th:text="${business.getName()}"></h1>
  <div class="profile">
    <h6 th:text="${business.getSummary()}" ><b></b></h6>
  </div>
</header>


<nav>
  <ul class="steps">
    <li id="offers" class="current">
      <a title=""> <span>Offers</span></a>
    </li>

    <li id="log">
      <a title=""><span>Transactions Log</span></a>
    </li>
  </ul>
</nav>

<div class="container main">
  <!-- Step Navigation elements to be displayed on click -->
  <div class="">
    <div class="container serviceOffers">
      <div class="row">
        <table class="table table-hover">
          <thead>
          <tr><th th:colspan="2" colspan="2">SELECT OFFER</th></tr>

          </thead>
          <tbody th:each="offer : ${offers}">
          <tr th:if="${offer.business_name == business.getName()}" >
            <td  th:text="${offer.offer}" data-toggle="modal" data-target="#spend-credits__modal"
                 th:attr="data-offer-description=${offer.offer}, data-offer-id=${offer.offer_id}"></td>
            <td class="deleteOffersButton">

              <button class="btn btn-info">Delete</button>

            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <br />
      <!-- offers button triggers Add offer modal window -->
      <button type="submit" class="btn  btn-info offers" data-toggle="modal" data-target="#addOffersModal"> Add Offer</button>

      <!-- Add offers modal pop up -->
      <div
              class="modal fade"
              id="addOffersModal"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"

      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Add new service offers</h5>
            </div>
            <div class="modal-body">

              <form  action="" th:action="@{/add_offer}" method="post">
                <div class="form-group">
                  <label for="business-name" class="col-form-label">Offer Description</label>
                  <input type="text" class="form-control" id="business-name" name="business_name">
                </div>
                <div class="form-group">
                  <label for="offer" class="col-form-label">Time Credits</label>
                  <input type="text" class="form-control" id="offer" name="offer" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-info addOffer">
                    Add Offer
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Transactions log -->

      <!--
        Table code adopted from https://getbootstrap.com/docs/4.1/content/tables/ and modified
      -->
    </div>

    <div class="table-responsive-sm logTable">
      <table class="table table-hover  table-striped">
        <thead>
        <tr>
          <th scope="col">Volunteer</th>
          <th scope="col">Service rendered</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mark</td>
          <td>2 swim sessions for 3 time credits</td>
          <td>05-nov-1994</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>



    <!-- Spend credits modal -->

    <div class="modal" id="spend-credits__modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
          </div>
          <div class="modal-body">
            <form id="spend-credits__form">
              <div class="form-group">
                <input hidden type="text" name="offer_id" class="form-control" id="offer-id__input"/>
                <div class="form-row">
                  <label for="user-code__input">Scan or enter user code</label>
                  <input type="text" name="user_code" class="form-control" id="user-code__input"/>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="spend-credits__submit">Apply</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>


<!-- Popper.js First , then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"
></script>


<script>
  !function($){
    $(document).ready(function() {
      $(".offer").click(function() {
        $(".validateVoucher").css("display", "block");
        $(".serviceOffers").css("display", "none");
      });

      $("#offers").click(function() {
        $(".serviceOffers").css("display", "block");
        $(".validateVoucher").css("display", "none");
        $(".logTable").css("display", "none");
      });


      $("#log").click(function() {
        $(".logTable").css("display", "block");
        $(".serviceOffers").css("display", "none");
        $(".validateVoucher").css("display", "none");
      });

      $("#spend-credits__submit").click(function() {
        var $userCode = $('#user-code__input');

        $('#add-credits').find('.alert').remove();

        if (!$userCode.val()){
          $userCode.addClass('is-invalid');
          return;
        }

        $.post('/user/spend_credits/', $('#spend-credits__form').serialize(), null, "json")
          .fail(function(r){
            alert('Something went wrong.');
            console.warn('Spend Credits:', r);
          }).done(function(r){
            if (r['success'] === 1) {
              $('#spend-credits__modal .modal-body').prepend('<div class="alert alert-success">Offer applied.</div>');
              $('#spend-credits__form, #spend-credits__modal .modal-footer').slideUp();
            } else {
              $('#spend-credits__modal .modal-body').prepend('<div class="alert alert-danger">' + r.message + '</div>');
            }
          });
      });

      $('#spend-credits__modal').on('show.bs.modal', function (e) {
        $('#spend-credits__modal').find('.alert').remove();
        $('#spend-credits__form, #spend-credits__modal .modal-footer').show();
        $('#spend-credits__modal .modal-title').text($(e.relatedTarget).data('offer-description'));
        $('#spend-credits__form input').val('').removeClass('is-invalid');
        $('#offer-id__input').val($(e.relatedTarget).data('offer-id'));
      });
    });
  }(jQuery);

</script>
