<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">

  <title>Admin Dashboard</title>
  <meta name="description" content="Admin Dashboard">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MHA Volunteer Time Banking</a>
    <a class="btn btn-secondary" href="#">Log out</a>
  </nav>

  <h1>Admin Dashboard</h1>

  <main>
    <section>
      <h2>Registered Volunteers</h2>
      <div class="section__actions form-inline">
        <input type="text" class="form-control section__filter-input" placeholder="Filter...">
        <a href="/add_user" class="btn btn-info">Register Volunteer</a>
      </div>
      <table class="table" id="volunteer__table">

        <tr th:each="volunteer : ${volunteers}">
          <td><a th:attr="href=${volunteer.getUrl()}" th:text="${volunteer.getfullname()}">Name</a></td>
          <td class="credits__cell">
            <span th:text="${volunteer.gettimecredits()}"></span>
            <button class="btn btn-success" data-toggle="modal" data-target="#add-credits" th:attr="data-volunteer-name=${volunteer.getfullname()}, data-volunteer-id=${volunteer.getid()}">&plus;</button>
          </td>
          <td class="delete__cell"><button class="btn btn-danger">&times;</button></td>
        </tr>
      </table>
    </section>

    <section>
      <h2>Registered Businesses</h2>
      <div class="section__actions form-inline">
        <input type="text" class="form-control section__filter-input" placeholder="Filter...">
        <a href="/add_user" class="btn btn-info">Register Business</a>
      </div>

      <table class="table" id="business__table">
        <tr th:each="business : ${businesses}">
          <td><a th:href="${business.getUrl()}" th:text="${business.getName()}">Flourish & Blotts</a></td>
          <td class="delete__cell"><button class="btn btn-danger delete-business" th:attr="data-business-id=${business.getId()},data-business-name=${business.getName()}">&times;</button></td>
        </tr>
      </table>
    </section>
  </main>


  <div class="modal" id="add-credits" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Credits to <span id="volunteer-name_label"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <form id="add-credits__form">
              <input hidden name="id" class="form-control" id="volunteer-id__input">
              <div class="form-group">
                <label for="credit-amt__input" class="col-form-label">Credit Amount:</label>
                <input name="credits" type="number" class="form-control" id="credit-amt__input" min="1">
              </div>
              <div class="form-group">
                <label for="credit-activity__input" class="col-form-label">Activity:</label>
                <input name="description" type="text" class="form-control" id="credit-activity__input">
              </div>
              <div class="form-group">
                <label for="credit-location__input" class="col-form-label">Location:</label>
                <input name="location" type="text" class="form-control" id="credit-location__input">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="add-credits__submit" type="button" class="btn btn-primary">Add credits</button>
          </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script>
    !function($){
      var validatePresence = function($input) {
        if (!$input.val()){
          $input.addClass('is-invalid');
          return false;
        }
        $input.removeClass('is-invalid');
        return true;
      }

      $('#add-credits').on('show.bs.modal', function (e) {
        $('#add-credits').find('.alert').remove();
        $('#add-credits__form, #add-credits .modal-footer').show();
        $('#volunteer-name_label').text($(e.relatedTarget).data('volunteer-name'));
        $('#add-credits__form input').val('').removeClass('is-invalid');
        $('#volunteer-id__input').val($(e.relatedTarget).data('volunteer-id'));
      });

      $('#add-credits__submit').on('click', function(){
        var userId = $('#volunteer-id__input').val(),
          creditAmt = $('#credit-amt__input').val();

        $('#add-credits').find('.alert').remove();

        if (!(validatePresence($('#volunteer-id__input')) &&
            validatePresence($('#credit-amt__input')) &&
            validatePresence($('#credit-activity__input')) &&
            validatePresence($('#credit-location__input')))) {
          return false;
        }

        $.post('/user/add_credits/', $('#add-credits__form').serialize(), null, "json")
          .fail(function(r){
            alert('Something went wrong.');
            console.warn('Add Credits:', r);
          }).done(function(r){
            var $credits = $('[data-volunteer-id="' + userId + '"]').prev(),
              newBalance = parseInt($credits.text()) + parseInt(creditAmt);
            if (r['success'] === 1) {
              $('#add-credits .modal-body').prepend('<div class="alert alert-success">Added ' + creditAmt + ' credits. Current balance: ' + newBalance + '.</div>');
              $credits.text(newBalance);
              $('#add-credits__form, #add-credits .modal-footer').slideUp();
            } else {
              $('#add-credits .modal-body').prepend('<div class="alert alert-danger">' + r.message + '</div>');
            }
          });
      });

      $('.delete-business').on('click', function(e) {
        var $target = $(e.target);
        if (confirm('Are you sure you wish to remove ' + $target.data('business-name') + ' and its related users?')) {
          $.post('/business/delete/' + $target.data('business-id'))
          .fail(function (r) {
            alert('Something went wrong.');
            console.warn('Delete Business Error:', r);
          }).done(function(r) {
            console.log('Delete Business:', r);
            $target.fadeOut();
            $target.closest('td').prev()
              .hide()
              .html('<div class="alert alert-success">' + $target.data('business-name') + ' removed.</div>')
              .slideDown();
            setTimeout(function(){
              $target.closest('td').prev().slideUp('400', function(){
                $(this).closest('tr').remove();
              });
            }, 1500);
          });
        }
      });
    }(jQuery);
  </script>
</body>
</html>