<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <title>Volunteer Profile </title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/volunteerHome.css" />

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>

<body>
<header>

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <br>
            <h1 th:text="${volunteer.getfirstname()}">Firstname</h1>
            <br>
            <h3 th:text="${volunteer.getlastname}"> Lastname </h3>
            <h2 th:text="${volunteer.getprofile_image()}"> Profile Image</h2>

            <h3 th:text="${volunteer.getpostcode()}"> Postcode </h3>
        </div>
        <div class="col-sm" >
            <div th:switch="${isHome}">
                <!--<div class="float-right">-->
                    <a th:case="true" class="btn btn-secondary" href="/login">Log out</a>
                    <a th:case="false" class="btn btn-secondary" href="/admin ">Go back</a>
                <!--</div>-->
            </div>

            <br><br><br>
            <h4 th:text="${volunteer.getemail()}"> Email </h4>
            <h4 id = "telephonenum" th:text="${volunteer.getphone_number()}"> Phone Number </h4>
        </div>
    </div>

    <div th:if="${isHome}">

        <div class = "buttonmarge" >
            <button type="button" class="btn btn-danger btn-lg btn-block"data-toggle="modal" data-target="#ModalCenter">Bar Code</button>

            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <img  class = "center-block" src="/image/QRcode.jpg" th:src="${volunteer.getbarcodeimage()}">

                </div>
            </div>
        </div>


    </div>

    </div>

</header>



<div class="profile">

    <!--Image taken from: https://www.biography.com/people/mark-hamill-9542477  -->
    <img src="/image/stock.png" th:src="${volunteer.getprofile_image()}" alt="..." id = "profilePic">

    <br><br><br>

    <div id="timecreditid">
    <h1 th:text="${volunteer.gettimecredits()}">Time Credits</h1>
    <h1>Time Credits</h1>
    </div>

    <br><br><br>
    <div id="centreJourneyandVolunteer">
    <h4>Journey Badge</h4>
    <br>
    <!--Image taken from: http://www.smurfsreviews.com/wp-content/uploads/2016/08/bronze-badge.png  -->
    <img th:src="${volunteer.getbadge()}" alt="..." class="rounded" id = "journeyPic">
    <br><br><br>


    <div>
        <h4>Volunteer Log</h4>
    </div>
    </div>

    <br><br>

    <!-- code adopted from https://getbootstrap.com/docs/4.0/content/tables/ and modified -->

    <div id="space">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Hours</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logs}">
                <th scope="row" th:text="${log.getTask_description()}">activity</th>
                <td th:text="${log.getCredits_earned()}">amount</td>
                <td th:text="${log.getLocation()}">location</td>
                <td th:text="${log.getTimestamp()}">date</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<br>

<br>

<!--Bread crumb code adopted from https://getbootstrap.com/docs/4.1/components/breadcrumb/ and modified -->




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
></script>
</body>
</html>


<!--getbootstrap.com. 2018. Download.  Available at: https://getbootstrap.com/docs/4.0/content/tables/-->
<!--[Accessed: 29 November 2018].  Bootstrap classes were used to implement the style of the volunteer log table-->