header {
  text-align: center;
  background-color: rgb(120, 180, 195);
  width: 100%;
}
header img {
  border-radius: 50%;
  margin: 30px 0 20px;
}
header h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-variant: small-caps;
}
.profile {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 35px;
  text-align: center;
  border-left: 5px;
  border-right: 5px;
}
h3 {
  text-align: center;
}
table td{
  padding-left: 25px;}
table thead {
  background-color: rgb(120, 180, 195);
  text-align: center;
}
.table-hover tr td {
  cursor: pointer;
}
.deleteOffersButton{
  text-align: right;
}
/*----Step Navigation ---- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .steps {
    margin: 40px;
    padding: 0;
    overflow: hidden;
  }
  .steps a {
    color: white;
    text-decoration: none;
  }

  .steps li {
    cursor: pointer;
    font-size: 2em;
    display: inline-block;
    margin-left: 0;
    width: 30%;
    height: 70px;
    list-style-type: none;
    /* padding around text, last should include arrow width */
    padding: 5px;
    /* width: gap between arrows, color: background of document */
    border-right: 3px solid white;
    position: relative;
    text-align: center;
    color: white; !important
  }
  /* remove extra padding on the first object since it doesn't have an arrow to the left */
  .steps li:first-child {
    padding-left: 5px;
  }
  /* white arrow to the left to "erase" background (starting from the 2nd object) */
  .steps li:nth-child(n + 2)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /* width: arrow width, color: background of document */
    border-left: 25px solid white;
    /* width: half height */
    border-top: 36px solid transparent;
    /* width: half height */
    border-bottom: 36px solid transparent;
    width: 0;
    height: 0;
    content: " ";
  }
  /* colored arrow to the right */
  .steps li::after {
    z-index: 1; /* need to bring this above the next item */
    position: absolute;
    top: 0;
    right: -25px; /* arrow width (negated) */
    display: block;
    border-left: 25px solid #ebebeb; /* width: arrow width */
    border-top: 36px solid transparent; /* width: half height */
    border-bottom: 36px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
  }

  /* Setup colors (both the background and the arrow) */

  /* Completed */
  .steps li {
    background-color: rgb(120, 180, 195);
  }
  .steps li::after {
    border-left-color: rgb(120, 180, 195);
  }

  /* Current  navigation item*/
  .steps li.current {
    background-color: rgb(120, 180, 195);
  }
  .steps li.current::after {
    border-left-color: rgb(120, 180, 195);
  }

  /* Following */
  .steps li.current ~ li {
    background-color: rgb(120, 180, 195);
  }
  .steps li.current ~ li::after {
    border-left-color: rgb(120, 180, 195);
  }

}

nav {
  text-align: center;
}

.serviceOffers {
  margin-top: 50px;
  position: relative;
  justify-content: center;
  display: block;
}
.list-group {
  width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#offersTextArea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.offerForm {
  text-align: center;
}
.validateBarcode {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logTable {
  position: relative;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.log {
  top: 20px;
}
button .offers{
  width: 50%;
  text-align: center;
}
#addOffersModal{
  padding: 3em;
}
