main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section {
  min-width: 35em;
  flex-grow: 1;
  max-width: 48%;
}

h1 {
  margin: .5em .3em;
}

.section__actions {
  justify-content: space-between;
  padding: 1em .5em;
}

.table td {
  vertical-align: middle;
}

.delete__cell {
  width: 4.5em;
}

.credits__cell {
  width: 10em;
  text-align: right;
}
.credits__cell .btn {
  margin-left: .75rem;
  vertical-align: 0;
}

.alert {
  margin: 0;
}

.table a,
h1 {
  color: #17a2b8;
}