@media only screen and (min-width: 500px) {
    .background {
        height: 600px;
        background: url("/image/sitemainbg.jpg");
        background-size: auto;
        width: 700px;
    }

    .form {
        text-align: center;

    }

    .content {
        display: flex;
        justify-content: center;
        /* height: 70%; */
    }


    #borderbox {
        position: absolute;
        box-sizing: content-box;
        margin-top: 18%;
        width: 300px;
        height: 120px;
        padding: 30px;
        border: 4px solid green;
        border-style: dashed;
        text-align: center;
    }

    #sub_button {
        /* position: absolute; */
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        color: black;
        border: 1.5px solid #7E9AF6;
        -webkit-transition-duration: 0.4s;
        padding: 3px 20px;
        transition-duration: 0.4s;
        font-size: 14px;
        border-radius: 3%;
        margin-left: 63%;
        margin-top: 0%;
    }

    #sub_button:hover {
        background-color: #EC5412; /* blue*/
        color: #FFFFFF;
        cursor: pointer;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .mainbody {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .background {
        height: 600px;
        background: url("/image/sitemainbg.jpg");
        background-size: auto;
        width: 700px;
    }

    .form {
        text-align: center;

    }

    .content {
        display: flex;
        justify-content: center;
        /* height: 70%; */
    }


    #borderbox {
        position: absolute;
        box-sizing: content-box;
        margin-top: 18%;
        width: 200px;
        height: 120px;
        padding: 30px;
        border: 4px solid green;
        border-style: dashed;
        text-align: center;
    }

    #sub_button {
        /* position: absolute; */
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        color: black;
        border: 1.5px solid #7E9AF6;
        -webkit-transition-duration: 0.4s;
        padding: 3px 20px;
        transition-duration: 0.4s;
        font-size: 14px;
        border-radius: 3%;
        margin-left: 63%;
        margin-top: 0%;
    }

    #sub_button:hover {
        background-color: #EC5412; /* blue*/
        color: #FFFFFF;
        cursor: pointer;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .mainbody {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}