.register{
    background: -webkit-linear-gradient(100deg,#000000,#191970); /*(bootsnipp.com 2018) */
    text-align: left;
    color: white;
    padding: 0 50px 0 50px
}

h1,p{text-align: center}

label{padding: 0 5px 0 0;}

#previouslyVolunteeredWhoForAndRole, #disabilityOrSupportNeedsDetails, #medicalConditionsOrMedicationsDetails,
#knownAllergiesDetails, #profile{display: none;}

.question-padding{padding: 5px;}

.register .nav-tabs{ /*(bootsnipp.com 2018) */
    margin-top: 3%;
    border: none;
    background: #a9a9a9; /* Peer review: Change toggle colour. */
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.form-row>[class*=col-] { /*Peer review: Add space between the two columns.*/
    padding-right: 20px;
    padding-left: 20px;
}

.buttons{float:right;}

#previouslyVolunteeredWhoForAndRole,#disabilityOrSupportNeedsDetails, #medicalConditionsOrMedicationsDetails,
#knownAllergiesDetails {border-color: #ced4da}

button#option2 {padding: 6px 16px 6px 16px}

/* References:
  bootsnipp.com. 2018. "Bootstrap Dual Design Registration Form".
  Available at: https://bootsnipp.com/snippets/featured/bootstrap-dual-design-registration-form [Accessed 21 November 2018].
  I have adapted the code to add a gradient background to the form.
  */
