@media only screen and (min-width: 500px) {
    header {
        text-align: center;
        height: 400px;
        background-color: #6BC06E;
        color: #ffffff;
        position: absolute;
        width: 100%;
        top: 0;
    }

    .profile {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        height: 1300px;
        z-index: 2;
        margin-top: 300px;
        position: relative;
        padding: 20px;
        text-align: center;
        border-left: 5px;
        border-right: 5px;
    }

    .buttonmarge {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #journeyPic {
        height: 200px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    #profilePic {
        margin-top: 30px;
        height: 300px;
        width: 300px;
        border-radius: 90%;
    }

    #space {
        margin-bottom: 30px;
    }


    .breadcrumb {
        margin-top: 20px;
        text-align: center;
    }

    .voucherDetails {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    header {
        text-align: center;
        height: 400px;
        background-color: #6BC06E;
        color: #ffffff;
        position: absolute;
        /*width: 100%;*/
        top: 0;
        margin-left: 10px;
    }

    .profile {
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        height: 1300px;
        /*z-index: 2;*/
        margin-top: 490px;
        position: relative;
        /*padding: 10px;*/
        text-align: center;
        /*border-left: 5px;*/
        /*border-right: 5px;*/
    }

    .buttonmarge {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #journeyPic {
        height: 200px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    #profilePic {
        margin-top: 50px;
        margin-left: 35px;
        height: 300px;
        width: 300px;
        border-radius: 90%;
    }

    #telephonenum{

        display: none;
    }

    #timecreditid{
        margin-left: 45px;
    }

    #centreJourneyandVolunteer {
        margin-left: 40px;
    }

    #space {
        margin-bottom: 30px;
    }


    .breadcrumb {
        margin-top: 20px;
        text-align: center;
    }

    .voucherDetails {
        display: none;
    }
}